<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf Study</title>
</head>
<body th:inline="text">

	<p>Message : <span th:text="${message}"></span></p>
	
	<div th:object="${account}">
		<p>Name : <span th:text="*{name}"></span></p>
		<p>Tel : <span th:text="*{tel}"></span></p>
	</div>
	
	<a th:href="@{https://www.naver.com}">Naver</a>
	<a th:href="@{accounts}">Accounts</a>
	<a th:href="@{/accounts}">Accounts</a>
	
	<p><span th:text="|Message : ${message}|"></span></p>
	<p><span th:text="'Message : ' + ${message}"></span></p>
	
	<div th:object="${account}">
		<p>id : <span th:text="*{id}?: 'No Id specified'"></span></p>
		<p>Name : <span th:text="*{name}"></span></p>
		<p>Tel : <span th:text="*{tel}"></span></p>
	</div>
	
	<p>Message : <span th:text="${message}" th:attr="class=message" th:attrappend="class=${' ' + message}"></span></p>
	
	<input type="checkbox" th:checked="${checked}">
	
	<table > <!-- th:remove="all-but-first" -->
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Tel</th>
		</tr>
		<!--/* -->
		<tr th:each="myAccount : ${accounts}">
			<td th:text="${myAccount.id}"></td>
			<td th:text="${myAccount.name}"></td>
			<td th:text="${myAccount.tel}"></td>
		</tr>
		<!-- */-->
		<!-- th:if="${not #sets.isEmpty(accounts)}" <tr th:unless="${not #sets.isEmpty(accounts)}">
			<td th:text="'No Data.'" th:attr="colspan=3"></td>
		</tr> -->
		<tr>
			<td th:text="1"></td>
			<td th:text="dong"></td>
			<td th:text="010"></td>
		</tr>
		<tr>
			<td th:text="1"></td>
			<td th:text="dong"></td>
			<td th:text="010"></td>
		</tr>
	</table>
	
	<div th:switch="${sw}">
		<p th:cass="1">1</p>
		<p th:cass="2">2</p>
		<p th:cass="3">3</p>
	</div>
	
	<p th:remove="${checked} ? all : none"> Message : <span th:text="${message}"></span></p>
	
	<div th:with="value1=1,value2=2">
		<span th:text="${value1}"></span>
		<span th:text="${value2}"></span>
		[[${value1}]][[${value2}]]
	</div>
	<!-- fdsfadsfdsa  -->
	<!--/* dsadsa */-->
	[[${message}]]
	
	<script th:inline="javascript">
		var message = /*[[${message}]]*/ 'message';
		alert(message);
	</script>
	
	<div th:include="footer1 :: footer (1, 2)"></div>
	<div th:replace="footer1 :: footer (1, 2)"></div>
	
</body>
</html>