<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf Study</title>
</head>
<body>

	<p>Message : <span th:text="${message}"></span></p>
	
	<div th:object="${account}">
		<p>Name : <span th:text="*{name}"></span></p>
		<p>Tel : <span th:text="*{tel}"></span></p>
	</div>
	
	<a th:href="@{https://www.naver.com}">Naver</a>
	<a th:href="@{accounts}">Accounts</a>
	<a th:href="@{/accounts}">Accounts</a>
	
	<p><span th:text="|Message : ${message}|"></span></p>
	<p><span th:text="'Message : ' + ${message}"></span></p>
	
	<div th:object="${account}">
		<p>id : <span th:text="*{id}?: 'No Id specified'"></span></p>
		<p>Name : <span th:text="*{name}"></span></p>
		<p>Tel : <span th:text="*{tel}"></span></p>
	</div>
	
	<p>Message : <span th:text="${message}" th:attr="class=message" th:attrappend="class=${' ' + message}"></span></p>
	
	<input type="checkbox" th:checked="${checked}">
	
	<table>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Tel</th>
		</tr>
		<tr th:if="${not #sets.isEmpty(accounts)}" th:each="myAccount : ${accounts}">
			<td th:text="${myAccount.id}"></td>
			<td th:text="${myAccount.name}"></td>
			<td th:text="${myAccount.tel}"></td>
		</tr>
		<tr th:unless="${not #sets.isEmpty(accounts)}">
			<td th:text="'No Data.'" th:attr="colspan=3"></td>
		</tr>
	</table>
	
	<div th:switch="${sw}">
		<p th:cass="1">1</p>
		<p th:cass="2">2</p>
		<p th:cass="3">3</p>
	</div>
	
	<div th:include="footer :: footer"></div>
	
</body>
</html>