<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf Study</title>
</head>
<body>
	
	<p>Message : <span th:text="${message}"></span></p>
	
	<div th:object="${account}">
		<p>Name : <span th:text="*{name}"></span></p>
		<p>Tel : <span th:text="*{tel}"></span></p>
	</div>
	
	<a th:href="@{https://www.naver.com}">Naver</a>
	<a th:href="@{accounts}">Accounts</a>
	<a th:href="@{/accounts}">Accounts</a>
	
	<p><span th:text="|Message : ${message}|"></span></p>
	<p><span th:text="'Message : ' + ${message}"></span></p>
	
</body>
</html>